<nb-layout>
  <nb-layout-header>
    <p>spisek works!</p>
  </nb-layout-header>
  <nb-layout-column>
    <nb-card *ngFor="let a of avti">
      <div *ngFor="let l of a | keyvalue">
        <span>{{ l["key"] }}:</span> <span>{{ l.value }}</span>
      </div>
      <div>
        <button
          nbButton
          status="warning"
          fullWidth
          hero
          shape="semi-round"
          (click)="onFindSpecs()"
        >
          <nb-icon icon="star"></nb-icon>
          Find specs
        </button>
      </div>
    </nb-card>
  </nb-layout-column>

  <nb-layout-footer> </nb-layout-footer>
</nb-layout>
