<div>
  <div>
    <p>spisek works!</p>
  </div>
  <div>
    <div *ngFor="let a of avti">
      <div *ngFor="let l of a | keyvalue">
        <span>{{ l["key"] }}:</span> <span>{{ l.value }}</span>
      </div>
      <div>
        <button
          nbButton
          status="warning"
          fullWidth
          hero
          shape="semi-round"
          (click)="onFindSpecs()"
        >
          <span icon="star"></span>
          Find specs
        </button>
      </div>
    </div>
  </div>

  <div> </div>
</div>
