<section [ngClass]="{ editing: isEditing }">
  @if (isEditing) {
  <ng-container>
    <mat-form-field>
      <span style="display: inline-block; width: 170px">{{ opravek.id }}:</span>
      <input
        type="text"
        matInput
        [value]="editingText"
        (keyup)="changeText($event)"
        (keyup.enter)="changeOpravek()"
      />
    </mat-form-field>
    <button mat-flat-button color="warn" (click)="onDelete()">Delete</button>
  </ng-container>
  } @else {
  <span style="display: inline-block; width: 170px">{{ opravek.id }}:</span
  ><span
    style="display: inline-block; width: 170px"
    (dblclick)="setOpravekInEditMode()"
    >{{ opravek.text }}
  </span>
  }
</section>
