<p>ali naj bi vsaka karta imela attack/defense statistiko?</p>
<nb-card>
  <nb-card-body class="example-items-rows">
    <button nbButton status="success" (click)="onCarPrevious()" [disabled]="carPrevDisabled">
      <nb-icon icon="arrow-ios-back-outline"></nb-icon>
    </button>
    <div class="spans-container">
      <span *ngFor="let f of [].constructor(36); let r = index">
        <button nbButton status="info" size="tiny" (click)="onSpan(r)">
          {{ r }}
        </button>
      </span>
    </div>
    <button nbButton status="primary" (click)="onGetSingleCar()">
      get single Car <br />
      {{ clickedSpan }}
    </button>
    <button nbButton status="success" (click)="onGetAllCars()">
      get All Cars
    </button>
    <button nbButton status="success" (click)="onCarNext()" [disabled]="carNextDisabled">
      <nb-icon icon="arrow-ios-forward-outline"></nb-icon>
    </button>
  </nb-card-body>
</nb-card>
<nb-card *ngIf="responseCar">
  {{ responseCar._id }}
  {{ responseCar._name }}
  {{ responseCar._cyl }}
  {{ responseCar._kw }}
  {{ responseCar._ccm }}
  {{ responseCar._kmh }}
  {{ responseCar._image_url }}
  {{ responseCar._choice_0 }}
  {{ responseCar._choice_1 }}

  <div id="cardA" class="card-container">
    <div class="card">
      <div class="card-front">
        <div class="inner">
          <div class="upperPart">
            <div class="id">{{ responseCar._id }}</div>
            <label class="name">{{ responseCar._name }}</label>
          </div>
          <img alt="car's picture" [src]="responseImage" />
          <table>
            <tr>
              <td class="prop">Motor:</td>
              <td class="val zyl">{{ responseCar._cyl }} zyl.</td>
            </tr>
            <tr>
              <td class="prop">Leistung:</td>
              <td class="val kw">{{ responseCar._kw }} kW</td>
            </tr>
            <tr>
              <td class="prop">Hubraum:</td>
              <td class="val ccm">{{ responseCar._ccm }} ccm</td>
            </tr>
            <tr>
              <td class="prop">Geschwindigkeit:</td>
              <td class="val kmh">{{ responseCar._kmh }} km/h</td>
            </tr>
          </table>
        </div>
      </div>
      <div class="card-back"></div>
    </div>
  </div>
  <!-- cardA-->
</nb-card>
