<p>ali naj bi vsaka karta imela attack/defense statistiko?</p>
<nb-card>
  <nb-card-body class="example-items-rows">
    <div class="spans-container">
      <span *ngFor="let f of [].constructor(36); let r = index">
        <button nbButton status="info" size="tiny" (click)="onSpan(r)">
          {{ r }}
        </button>
      </span>
    </div>
    <button nbButton status="primary" (click)="onGetSingleCar()">
      get single Car <br />
      {{ clickedSpan }}
    </button>
    <button nbButton status="success" (click)="onGetAllCars()">
      get All Cars
    </button>
  </nb-card-body>
</nb-card>
<nb-card *ngIf="responseCar">
  {{responseCar._id}}
  {{responseCar._name}}
  {{responseCar._cyl}}
  {{responseCar._kw}}
  {{responseCar._ccm}}
  {{responseCar._kmh}}
  {{responseCar._image_url}}
  {{responseCar._choice_0}}
  {{responseCar._choice_1}}
</nb-card>
