:host ::ng-deep {
  nb-card {
    border-width: 0;
  }
  // nb-menu {
  //   margin-top: 20px;
  // }
  ul.menu-items {
    display: flex;
    margin-top: 5px;
    .menu-item {
      margin-right: 5px;
      border: 1px solid lightgray;
      span {
        font-family: "Playfulist";
      }
    }
  }
}

button.mdc-button {
  margin: 2px;
  display: inline-block !important;
  width: unset !important;
  min-width: unset !important;
  max-width: unset !important;
  span {
    font-family: "Playfulist" !important;
  }
}
.mdc-button__label {
  font-family: "Playfulist" !important;
}
