<h1>drevi works!</h1>

@for (item of items; track $index) {
<div>
  <span style="display: inline-block; width: 200px">
    {{ item.title }}
  </span>
  <button mat-button color="primary" (click)="addItem()">
    <mat-icon>add</mat-icon>
  </button>
  <button mat-button color="warn" (click)="removeItem()" >
    <mat-icon>delete</mat-icon>
  </button>
</div>
}

<p>sum of items: {{ sumOfItems }}</p>
<p>signalcek: {{ signalcek() }}</p>
<p>sumOfItemsPercentageComputed: {{ sumOfItemsPercentageComputed() }}</p>
<p>sumOfItemsPercentageRxjs$: {{ sumOfItemsPercentageRxjs$.getValue() }}</p>
