<section>
  <div class="row">
    <div class="options">
      <div class="item item__circle" id="item_0"></div>
      <div class="item item__rect" id="item_1"></div>
      <div class="item item__triangle" id="item_2"></div>
    </div>
    <div class="dropArea">
      <div class="item item__circle" id=""></div>
      <div class="item item__rect" id=""></div>
      <div class="item item__triangle" id=""></div>
    </div>
  </div>
  <ol>
    <li>add calculating of browser zoom level</li>
    <li>only third item works currently</li>
  </ol>
  <app-hofer></app-hofer>
</section>
