<nb-layout>
  <nb-layout-header fixed>
    <div class="content" role="main">
      <div style="display: flex">
        <a class="card" target="" rel="" href="pages/draggable">
          <span>Draggable</span>
        </a>
        <a
          style="background-color: rgb(229, 112, 102); color: rgb(40, 41, 43)"
          class="card"
          target=""
          rel=""
          href="pages/single-car-display"
        >
          <span>Single Car Display</span>
        </a>
      </div>
    </div>
  </nb-layout-header>

  <nb-layout-column>
    <router-outlet></router-outlet>
    <footer></footer>
  </nb-layout-column>

  <nb-layout-footer fixed>
    <!-- Insert footer here -->
  </nb-layout-footer>
</nb-layout>
