<span>{{ activeCount() }}</span>
<button
  mat-flat-button
  color="warn"
  [ngClass]="{ active: filterSignal() === filterEnum.all }"
>
  <a href="/" (click)="changeFilter($event, filterEnum.all)">All</a>
</button>
<button
  mat-flat-button
  color="warn"
  [ngClass]="{ active: filterSignal() === filterEnum.active }"
>
  <a href="/" (click)="changeFilter($event, filterEnum.active)">Active</a>
</button>
<button
  mat-flat-button
  color="warn"
  [ngClass]="{ active: filterSignal() === filterEnum.completed }"
>
  <a href="/" (click)="changeFilter($event, filterEnum.completed)">Completed</a>
</button>
