nb-card {
  margin: 10px;
  padding: 10px;
  background-color: rgb(255, 140, 139);
  color: rgb(130, 30, 116);
  border: 1px solid rgb(65, 15, 71);
  li {
    list-style: none;
    line-height: 1.5rem;

    input.ng-invalid {
      border: 1px solid rgb(155, 10, 107);
    }
  }
  &.active {
    background-color: rgb(130, 30, 116);
    li {
      color: white;
    }
  }
  li.img-container {
    img {
      width: 130px;
      height: auto;
    }
    height: 200px;
  }
}
