<article>
  <table>
    <tr *ngIf="errorMessage != null">
      <td>{{ errorMessage }}</td>
    </tr>
    <tr *ngIf="loading && !errorMessage">
      <td>Loading from heroku ...</td>
    </tr>
  </table>
  <div style="display: flex; flex-wrap: wrap">
    <div
      *ngFor="let w of whores"
      [className]="selectedWhore === w ? 'active' : ''"
      appYellowize
      [barva]="'gold'"
    >
      <ul style="text-align: right">
        <li class="img-container">
          <img
            src="{{ 'assets/images/' + w.name.toLowerCase() + '.jpeg' }}"
            alt=""
          />
        </li>
        <li>{{ w.name }}</li>
        <li>{{ w.age }} yrs</li>
        <li>{{ w.height }} cm</li>
        <li>{{ w.weight }} kg</li>
        <li>boobs {{ w.boobSize }}</li>
        <li>{{ w.haircut }}</li>
        <li style="list-style: none; line-height: 1.5rem">
          <button

            (click)="onBookHer(w)"

          >
            Book her
          </button>
        </li>
      </ul>
    </div>
    <div>
      <h6>Template driven form</h6>
      <div>Simple</div>
      <form (ngSubmit)="onSubmit()" #newWhoreForm="ngForm">
        <div style="margin: 5px 0">
          <input
            nbInput
            type="text"
            placeholder="Name"
            name="Name"
            [(ngModel)]="name"
            required
            id="fname"
            #fname="ngModel"
            value="Chanel"
          />
          <div *ngIf="fname.invalid && fname.touched">
            <small>Name is required</small>
          </div>
        </div>
        <div style="margin: 5px 0">
          <input
            nbInput
            type="number"
            placeholder="Age"
            name="Age"
            [(ngModel)]="age"
            required
            id="fage"
            #fage="ngModel"
            value="40"
          />
          <div *ngIf="fage.invalid && fage.touched">
            <small>Age is required</small>
          </div>
        </div>
        <div ngModelGroup="heightAndWeight" #heightAndWeight="ngModelGroup">
          <div style="margin: 5px 0">
            <input
              nbInput
              type="number"
              placeholder="Height"
              name="Height"
              [(ngModel)]="height"
              required
              id="fheight"
              #fheight="ngModel"
              value="164"
            />
            <div *ngIf="fheight.invalid && fheight.touched">
              <small>Height is required</small>
            </div>
          </div>
          <div style="margin: 5px 0">
            <input
              nbInput
              type="number"
              placeholder="Weight"
              name="Weight"
              [(ngModel)]="weight"
              required
              id="fweight"
              #fweight="ngModel"
              value="49"
            />
            <div *ngIf="fweight.invalid && fweight.touched">
              <small>Weight is required</small>
            </div>
          </div>
        </div>
        <div style="margin: 5px 0">
          <!-- <nb-select
            placeholder="Boob size"
            name="Boob_size"
            [ngModel]="defaultBoobSize"
            required
          >
            <nb-option value="1">1</nb-option>
            <nb-option value="2">2</nb-option>
            <nb-option value="3">3</nb-option>
            <nb-option value="4">4</nb-option>
            <nb-option value="5">5</nb-option>
          </nb-select> -->
        </div>
        <div style="margin: 5px 0">
          <label for="">Haircut: </label>
          <span>
            <!-- <nb-radio-group [(ngModel)]="selectedHaircut" name="haircut">
              <nb-radio *ngFor="let h of haircuts" value="{{ h['value'] }}">{{
                h["value"]
              }}</nb-radio>
            </nb-radio-group> -->
          </span>
        </div>
        <button
          nbButton
          type="submit"
          status="success"
          [disabled]="!newWhoreForm.valid"
        >
          submit
        </button>
      </form>
    </div>
    <div>
      <h6>Reactive form</h6>
      <div>Complex</div>
    </div>
    <!-- <div>
      <nb-layout>
        <nb-layout-column>
          <div
            class="content"
            role="main"
            style="display: flex; justify-content: center"
          >
            <div accent="info">
              <div-body>
                <nb-form-field>
                  <form [formGroup]="myFormGroup" (ngSubmit)="onSubmit()">
                    <div>
                      <nb-select
                        placeholder="Select store"
                        [(selected)]="selectedStore"
                        required
                      >
                        <nb-option
                          *ngFor="let s of existingStores"
                          [value]="s"
                          >{{ s.name }}</nb-option
                        >
                      </nb-select>
                      <div *ngIf="selectedStore != undefined; else elseBlock">
                        <input
                          nbInput
                          type="text"
                          disabled
                          [value]="selectedStore.storeAddress"
                        />
                        <input
                          nbInput
                          type="text"
                          disabled
                          [value]="selectedStore.storePhoneNumber"
                        />
                      </div>
                      <ng-template #elseBlock>
                        <input
                          nbInput
                          type="text"
                          disabled
                          value=""
                          style="opacity: 0.4"
                        />
                        <input
                          nbInput
                          type="text"
                          disabled
                          value=""
                          style="opacity: 0.4"
                        />
                      </ng-template>
                    </div>
                    <input nbInput type="date" formControlName="currentDate" />
                    <input
                      nbInput
                      type="text"
                      placeholder="Served by"
                      formControlName="servedBy"
                      required
                    />
                    <input
                      nbInput
                      type="email"
                      placeholder="Email"
                      formControlName="email"
                      required
                      email
                    />
                    <div style="display: flex; flex-direction: row">
                      <input
                        nbInput
                        [nbDatepicker]="datepicker"
                        placeholder="select Sport Package Date"
                        formControlName="sportPackageDate"
                        required
                      />
                    </div>
                    <nb-datepicker #datepicker></nb-datepicker>
                    <input
                      nbInput
                      type="number"
                      placeholder="Monthly charge"
                      formControlName="monthlyCharge"
                      required
                    />
                    <input
                      nbInput
                      type="number"
                      placeholder="Upfront fee"
                      formControlName="upfrontFee"
                      required
                    />
                    <nb-select
                      placeholder="Installments of payment"
                      formControlName="installmentsOfPayment"
                      required
                    >
                      <nb-option value="1">1</nb-option>
                      <nb-option value="2">2</nb-option>
                      <nb-option value="3">3</nb-option>
                      <nb-option value="4">4</nb-option>
                      <nb-option value="5">5</nb-option>
                    </nb-select>
                    <textarea
                      nbInput
                      type="text"
                      placeholder="Other handy information"
                      formControlName="otherHandyInformation"
                    ></textarea>
                  </form>
                </nb-form-field>
              </div-body>
              <div-footer>
                <div style="display: flex">
                  <button
                    nbButton
                    status="success"
                    (click)="onSubmit()"
                    [disabled]="
                      !myFormGroup.valid || selectedStore == undefined
                    "
                  >
                    SUBMIT
                  </button>
                  <span style="flex-grow: 1"></span>
                  <button nbButton status="danger" (click)="onResetForm()">
                    RESET
                  </button>
                </div>
              </div-footer>
            </div>
          </div>
          <div style="display: flex">
            <span style="flex-grow: 1"></span>
            <button nbButton status="primary" (click)="onGetObrazecLast()">
              Get Obrazec last
            </button>
            <button nbButton status="warning" (click)="onGetObrazecAll()">
              Get Obrazec ALL
            </button>
          </div>
          <a
            href="https://stackoverflow.blog/2022/09/15/why-the-number-input-is-the-worst-input/"
            >article about input type="number"</a
          >
        </nb-layout-column>
      </nb-layout>
    </div> -->
  </div>
</article>
