/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "Playfulist";
  src: local("Playfulist"), url(./assets/fonts/Playfulist-rgPp8.ttf) format("truetype");
}
li, h1, h2, h3, h4, h5, h6, div, p {
  font-family: "Playfulist";
}

button {
  font-family: "Playfulist" !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
